/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require style
*= require daterangepicker
*= require bootstrap
*= require bootstrap.min
*= require bootstrap-reboot
*= require bootstrap-reboot
*= require font-awesome/css/all.min
*= require font-awesome/css/font-awesome
*= require font-awesome/css/font-awesome.min
*= require_self

*/
